<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/logout.js"></script>
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/addNewAccount.css" />
  <link rel="stylesheet" href="/styles/allAccounts.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>

  <header>
    <h1>Password Keeper</h1>
  </header>





  <main class="main-choose-password-creation">

    <section class="organization-and-categories">
      <h2 class="organization-name">
        Lighthouse Labs
      </h2>

      <div class="all-or-add-container">
        <button id="all-accounts-btn">View All Accounts</button>
        <button id="add-new-account-btn">Add New Account</button>
      </div>
    </section>


    <div class="container-choose-password-creation">
      <h2>Add a New Account</h2>

      <div class="btns-choose-password-creation">
        <button class="btn-choose-pw">Choose Your Own Password</button>
        <button class="btn-generate-pw">Generate a Random Password </button>
      </div>

    </div>


  </main>

  <script>
    $(() => {
      $('#all-accounts-btn').on('click', () => {
        window.location.href = '/allAccounts';
      });
      $('#add-new-account-btn').on('click', () => {
        window.location.href = '/addNewAccount';
      });

    })

  </script>
</body>

</html>
