<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/login.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <header>
      <h1>Password Keeper</h1>
    </header>

    <main>
      <h1>Sign In</h1>
      <form id="login-form" method="POST">
        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder='email' required>
        <br>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder='password' required>
        <br>
        <button type="submit">Login</button>
      </form>

    </main>
  </body>
</html>
