main  {
  display: flex;
  .organization-and-categories {
    background-color: lightgray;
    height: 90vh;
    width: 15%;
  }
  .allAccounts {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .account {
      border: 2px solid black;
      border-radius: 20px;
      height: 150px;
      padding: 30px;
    }
  }
}
