main  {
  font-size: 1.4rem;
  display: flex;
  .organization-and-categories {
    color: white;
    // background-image: url('/assets/headerPw.jpg');
    background-color: rgb(4, 143, 224);
    height: 100vh;
    width: 17%;
    padding-left: 2rem;
    padding-top: 3rem;
  }
  .all-accounts {
    width: 80%;
    h2 {
      padding-top: 2.5rem;
      text-align: center;
    }

    .all-accounts-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    }
    .account {
      border: 2px solid black;
      border-radius: 2rem;
      height: 12rem;
      padding: 3rem 3rem 1.5rem 2rem;
      width: 15%;
      margin: 1.5rem 0;
      // .website {
      //   color: rgb(2, 2, 220);
      // }
    }
  }
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  :hover {
    color: rgb(119, 202, 234);
  }
}

.btn-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button:hover {
    color: rgb(243, 21, 21);
  }
}

.icon-btn-container {
  border-top: 2px solid rgb(119, 202, 234);
  width: 100%;
  padding-top: 1rem;
}
