header {
  // background-image: url('../assets/headerPw.jpg');
  background-color: black;
  color: white;
  height: 10vh;
  font-size: 1.5rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logged-in-user-container {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    font-size: 1.3rem;
    button {
      border: none;
      background-color: white;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      font-size: 1.2rem;

      // margin-bottom: 1rem;
    }
  }
}
