// See: https://sass-lang.com/
body {
  font-size: 62.5%;
}

body,
html,
h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


h3 {
  font-size: 1.5rem;
}
