main {
  height: 100vh;
  background-image: url('/assets/headerPw.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(0, 3, 0);
  padding-left: 5rem;
  h1 {
    color: white;
    font-size: 4.5rem;
    padding-top: 20%;
    padding-bottom: 1rem;
  }

  button {
    border: none;
    background-color: white;
    color: black;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem 1rem;
  }
  button:hover {
    border: 2px solid white;
    background-color: black;
    color: white;
  }

  input {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 400px;
  }

}
