body {
  color: white;
}

.homepage {
  height: 100vh;
  background-image: url('/assets/headerPw.jpg');
  background-position: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(0, 3, 0);
  padding-left: 5rem;


  h1 {
    color: white;
    font-size: 4.5rem;
    padding-top: 20%;
    padding-bottom: 1rem;
  }
  .homepage-login-btn {
    border: none;
    background-color: white;
    color: black;
    font-size: 2.3rem;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}

.homepage-login-btn:hover {
  border: 2px solid white;
  background-color: black;
  color: white;
}


